{% include calculate_relative_base.html %}
{% include escape-404.html %}
{% for author in site.data.authors %}
  {% if author.id == page.author %}
    <section class="author-box">
      <div class="narrow-column">
        <a href='{{ author.website }}'><img src="{{ relativebase }}{% if author.img %}{{ author.img }}{% endif %}" alt="{{ author.name }}" class="author-img"></a>
        <ul class="contact-icons">
          {% if author.twitter %}
          <li class="twitter"><a class="twitter" href="{{author.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if author.linkedin %}
          <li class="linkedin"><a class="linkedin" href="{{author.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
          {% if author.github %}
          <li class="github"><a class="github" href="{{author.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
          {% endif %}
          {% if author.email %}
          <li class="email"><a class="email" href="mailto:{{author.email}}"><i class="fa fa-envelope-o"></i></a></li>
          {% endif %}
          {% if author.stackoverflow %}
          <li class="stackoverflow"><a class="stackoverflow" href="{{author.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a></li>
          {% endif %}
        </ul>
      </div>
      <div class="author-desc">
        <h3>{{author.name}}</h3>
        <p>{{author.description}}</p>
      </div>
    </section>
  {% endif %}
{% endfor %}
